body {
    font-family: "Open Sans";
}

#main {
    margin: 10px 20px;
}

text.label {
    text-anchor: middle;
    font-size: 11px;
    fill: #555;
    font-family: sans-serif;
}

text.title { 
    font-family: sans-serif;

}

#legend {
    font-family: sans-serif;
}

.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

text.title {
    text-anchor: middle;
    font-size: 14px;
    fill: #333;
}

circle { 
    fill-opacity:100%;
    fill: darkcyan;
}

#name-label { 
    opacity: 0%;
}

g:hover #name-label { 
    opacity: 100%;
    font-family: serif;
}

g:hover circle { 
    fill-opacity: 100%;
}

#xaxis .tick { 
    opacity: 100%;
}

g:hover #xaxis .tick .bar { 
    opacity: 100%
}

text.qlabel {
    color:black;
    opacity: 0%;
    
}

svg:hover .qlabel { 
    opacity:100;
    font-family: sans-serif;
    font-size: 12px;

}

#Argentina, #Brazil, #Chile, #Colombia { 
    fill: #B29BCF;
    
}

#Portugal, #England, #Germany, #Italy, #Spain, #Denmark, #Netherlands, #France, #Sweden, #Norway, #Poland, #R\.\ of\ Ireland { 
 fill: #FEB326;
}

#China, #Japan { 
    fill:#E84d8a;
}

#United\ States { 
    fill:#64c5eb;
}



