body {
    font-family: "Open Sans";
}

#main {
    margin: 10px 20px;
}

div{
    display: inline-block;
}
text.label {
    text-anchor: middle;
    font-size: 11px;
    fill: #555;
    font-family: sans-serif;
}

text.title { 
    font-family: sans-serif;

}

#legend {
    font-family: sans-serif;
}

.axis text {
    fill: #555;
}

.axis line,
.axis path {
    stroke: #555;
}

text.title {
    text-anchor: middle;
    font-size: 14px;
    fill: #333;
}


#name-label { 
    opacity: 0%;
}

g:hover #name-label { 
    opacity: 100%;
    font-family: serif;
}

g:hover circle { 
    fill-opacity: 100%;
}

#xaxis .tick { 
    opacity: 100%;
}

g:hover #xaxis .tick .bar { 
    opacity: 100%
}

#qlabel {
    color:black;
    opacity: 0%;
    
}

.bar:hover #qlabel { 
    opacity:100;
    font-family: sans-serif;
    font-size: 12px;
    justify-content: center;

}

.bar { 
    opacity: 70%;
}

.bar:hover {
    opacity: 100%;
}
#South\ America { 
    fill: #a17bcf;
    
}

#Europe { 
 fill: #FEB326;
}

#Asia { 
    fill:#E84d8a;
}

#North\ America { 
    fill:#64c5eb;
}

#select { 
    position:absolute;
   top:40px;
   left:1015px;
}

label {
    font-family: sans-serif;
}

.info { 
    font-family: sans-serif;
    padding: 0%;
    width: 200px;
    position: fixed;
}

h3 {
    color: #E84d8a;
}
